<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원 정보</title>
</head>
<body>
    <h1>회원 정보</h1>
    <table border="1" th:object="${user}">
      <tr>
        <th>회원정보</th>
        <th>회원아이디</th>
        <th>회원이름</th>
        <th>회원 나이</th>
      </tr>
  
      
      
          <th th:text="*{userNo}">회원정보</th>
          
          <th th:text="*{userId}">회원아이디></th>
  
          <th th:text="*{userName}">회원이름</th>
  
          <th th:text="*{userAge}">회원 나이</th>
        </tr>
  
    </table>
</body>
</html>