<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TodoList - Boot</title>
</head>
<body>
  <h1>Todo List - Ajax 버전</h1>

  <hr>

  <!-- form 태그 제출은 무조건 동기식!!!! -->
  <div>
    <h4>할 일 추가</h4>

    <div>
      제목 : <input type="text" id="todoTitle">
    </div>

    <div>
      <textarea id="todoContent" 
        cols="50" rows="5" placeholder="상세 내용"></textarea>
    </div>

    <button id="addBtn">추가 하기</button>

  </div>

  <hr>


  <!--  -->
  <!-- <h3 th:text="|전체 Todo 개수 ${#lists.size(todoList)}개
                / 완료된 Todo 개수 ${completeCount} 개| "></h3> -->

  <h3 id="todoHear">
    전체 Todo 개수 : <span id="totalCount">0</span>개 
    /
    전체 Todo 개수 : <span id="completeCount">0</span>개 

    <button id="reloadBtn">새로고침</button>
  </h3>



  <table border="1" style="border-collapse: collapse;">

    <thead>
      <th>번호</th>
      <th>할 일 제목</th>
      <th>완료 여부</th>
      <th>등록 날짜</th>
    </thead>


    </tbody>
  </table>


   <!-- 
    footer.html 조각을 해당 위치에 추가 
    (조각의 경로는 forward 하듯이 작성(접두사,접미사 생략))
  -->
  <th:block th:replace="~{common/footer}"></th:block>


  <script src="/js/ajax-main.js"></script>



</body>
</html>