<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>책 등록</title>
</head>
<body>
    <h1>책 등록</h1>
  
<form action="book_register" method="POST" id="book_register">

  <div>
    제목 : <input type="text" name="bookTitle" id="title">
    <br>
    글쓴이 : <input type="text" name="bookWriter" id="writer">
    <br>
    가격: <input type="text" name="bookPrice" id="price">
  </div>

  <button id="inputBtn">제출하기</button>

</form>
    
</body>
</html>