<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace ="com.sij.book.main.model.mapper.MainMapper">
  <insert id="bookRegister">
    INSERT INTO BOOK 
    VALUES (SEQ_BOOK_NO.NEXTVAL, #{bookTitle}, #{bookWriter}, #{bookPrice}, SYSTIMESTAMP)
  </insert>
  
  <select id="selectList" resultType="Book">
  	SELECT * FROM "BOOK"
  </select>
</mapper>
