<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kh.test.board.model.mapper.BoardMapper">

	<select id="select">
	  SELECT B.BOARD_NO, B.BOARD_TITLE, U.USER_NAME, B.BOARD_CONTENT, B.BOARD_READCOUNT, B.BOARD_DATE
	  FROM TB_BOARD B
      INNER JOIN TB_USER U ON B.USER_NO = U.USER_NO
      WHERE BOARD_TITLE = #{boardTitle}
	</select>


</mapper>
