<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>책 관리 프로그램</title>
</head>
<body>
  <h1>책 관리 프로그램</h1>
  
  <div>
    <a href="/book/register">책 등록</a>
    <br>
    <br>
    <a href="/book/management">책 검색,수정,삭제</a>
    <br>
  </div>

  <hr>

  <h2>모든 책 조회</h2>


    <table border="1" style="border-collapse: collapse;">

    <thead>
      <th>책 번호</th>
      <th>제목</th>
      <th>글쓴이</th>
      <th>가격</th>
      <th>등록일</th>
    </thead>

    <tbody>

        <tr th:each="book : ${Book}" th:object="${book}">
            <td th:text="*{bookNo}">책 번호</td>
            
            <td>
              <a th:text="*{bookTitle}">제목</a>
            </td>
    
            <td th:text="*{bookWriter}">글쓴이</td>
    
            <td th:text="*{bookPrice}">가격</td>
            <td th:text="*{regDate}">등록일</td>
          </tr>

    </tbody>
  </table>




    
</body>
</html>